@import url('https://fonts.googleapis.com/css?family=Saira');
$font-family-sans-serif: 'Saira', sans-serif;
$jumbotron-bg: rgba(0, 0, 0, 0.1);
$jumbotron-color: white;
$link-color: yellow;
$link-hover-color: none;
$link-hover-decoration: none;
$code-color: white;
$input-bg: transparent;
$input-border-radius: none;
$input-color: white;

// Overrides go here.
// Import Bootstrap defaults.
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';
@import '~bootstrap/scss/_variables.scss';

@include media-breakpoint-down(sm) {
  .top-buffer-section {
    margin-top: 60px;
  }

  .top-buffer-sm {
    margin-top: 18px;
  }
}

@include media-breakpoint-up(md) {
  .top-buffer-section {
    margin-top: 30px;
  }

  #about-root > .row {
    margin-bottom: -2rem;
  }
}
