body {
  margin: 0;
  padding: 0;
  color: white !important;
  background-image: linear-gradient(to left, #667eea, #764ba2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Same as code tags. */
.tooltip-code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace !important;
  font-size: 80% !important;
}

/* Autosizing text inputs. TODO: Debug mobile. */
.autosize-input,
.autosize-input input,
.autosize-input input:disabled {
  padding: none;
  border: none;
  border-radius: 0;
  color: yellow;
  background: transparent;
}

.autosize-input input {
  border-bottom: 1px solid white;
  text-overflow: ellipsis;
  text-align: center;
}

.autosize-input input:disabled,
.autosize-input input:read-only {
  border-bottom: none !important;
}

.autosize-input input:focus,
.autosize-input input:not([disabled]):not([read-only]):hover {
  border-bottom: 1px solid lightpink;
  outline: none;
}

/* Inline wrapper for `react-select`. */
.inline-select-wrapper {
  display: inline-block;
}

/* Misc utility classes. */
.bold {
  font-weight: bold;
}

.card-info {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: none !important;
}

.card-info.card-active {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-info:hover:not(.card-active):not(.card-static) {
  cursor: pointer;
}

.chevron {
  color: lightskyblue;
}

.inline-block {
  display: inline-block;
}

.top-buffer {
  margin-top: 18px;
}

/* Splash elements. */
#splash-rule {
  margin-top: 36px;
  margin-bottom: 36px;
  background-color: transparent;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.splash-highlight {
  color: gold;
}

.splash-description {
  font-size: 110%;
}

/* Tutorial elements. */
.tutorial-highlight {
  color: gold;
}

.tutorial-form {
  font-size: 150%;
}

.tutorial-form button {
  line-height: 75%;
}

#tutorial-header {
  font-size: 140%;
  margin-bottom: 3px;
}

#tutorial-confirm {
  font-size: 140%;
}

/* Other one-off settings. */
.info-root + #footer {
  margin-top: 40px !important;
}

.info-body-first {
  margin-top: 1rem;
}

#apply {
  margin-top: 5px;
  font-size: 125%;
}

#footer {
  margin-top: 60px;
  margin-bottom: 28px;
  text-align: center;
  font-size: 80%;
}

#menu {
  color: black;
}

#title > a > .badge,
#menu > a > .badge,
#menu > a > .badge:hover {
  color: white;
}
